<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/DA_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DA_Day3----05-08-2025
#data cleaning ---Data Cleaning (EDA)--Data interpretation and Visualisation---Pandas,numpy
#matplotlib,plotly,seabron,
#Pandas Library and its structures,operations and manipulation of structure,and data
#what are the methods and attributes

In [ ]:
'''
Pandas---
   ----Introduction--
   ----Use of Pandas---
   ----Exact data structures available --
   ----Purpose and overiew ----
   ----installation---
   ----Data structure ---Series(1-D),Frames(2-D),Panel(3-D)--it is deprecated one--instead of this we can us emulti Index--
   ----After >1.X Panel is deprecated one --
   ----Series---Only one column or fields
   ----Frames ---Rows and columns---
   ----After 1.X we are using multi index instaead of Panel
   ----!pip install pandas '''

In [ ]:
#B1.asic Operations ---'''

Creating series and DF
Attribues and methods for Series and DF
Indexing and selecting the data
#2.Daat Cleaning ---
----Handling missing values --
----Removing duplicates -----
----How to convert data type---
-----Data tranformation----
-----Adding /removing the columns---
-----Rename Columns---
-----Data aggregation and grouping---
-----Filtering and sorting the data
#3.Advanced data operations--
-----Merging and joining DF's
--------------Concatnation,merging operations(inner,outer,left,right)
-----Pivot tables and cross tabulations---
-----how to create pivot tables---
-----what is the use of cross tabulation
-----time series analysis---
---------date and time data in pandas
-----Resampling and frequency conversion---
#4.Data visualtion--
-----plot the graph using different  techniques---
-----integrate with other libraries
-----
#5.Case Study----1 or 2----
'''

In [ ]:
#Pandas----
'''
Pandas---Panel data System--is one of python data analysis library--
---------without we cant do anything in data analysis--
---------Why Pandas---use of pandas--
---------Every data analysis and Manipulating relevant methids or functions or classes or attributes are predefined one and available in python pandas--
---------Providing the data structures and functions need to manipulate the structured data---
---------Architecture---
---------Small data to medium size (MB)---Pandas
---------Single node architecture --it takes more time to do analysis--
---------Raw Dataset more than 1 GB or 2GB---Prefer Pyspark--it is multinode architecture--
--------Raw data and big/huge  data processing 10 GB data separated into 10 m/c and distributed  for processing
--------For POC we can go with Pandas--realtime we will go with Pyspark,in pyspark along with :Python will add Apache spark also.
--------Python+spark=PySpark----backend apache spark--high performance--bit complex when compared with pyspark
--------Pandas user friendly----
--------large scale data engineering  and prod env goes with pyspark--
--------Data fits into single m/c memory will go with Pandas----very quick and fast processing
--------EDA----Pandas----
--------Prod env --pyspark---

'''

In [1]:
# How to create Series---single column
import pandas as pd
pd.series

Object `pd.series` not found.

In [5]:
import pandas as pd
s1=pd.Series()
print(s1)

Series([], dtype: object)

In [6]:
import pandas as pd
s1=pd.Series("Ram")
print(s1)

0    Ram
dtype: object

In [9]:
import pandas as pd
s1=pd.Series(["Ram",1,1,5,5])
print(s1)
#dtype:int,float,bool,object,data

0    Ram
1      1
2      1
3      5
4      5
dtype: object

In [10]:
import pandas as pd
s1=pd.Series(["Ram","Shatha"])
print(s1)
#in DF heterogenious data is stored

0       Ram
1    Shatha
dtype: object

In [11]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
import pandas as pd
s1=pd.Series([1,2,3.5,4,5])
print(s1)

0    1.0
1    2.0
2    3.5
3    4.0
4    5.0
dtype: float64

In [16]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,np.nan,4,5])
print(s1)

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [20]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,np.nan,4,5],index=['one','two','three','four','five'])
print(s1)

one      1.0
two      2.0
three    NaN
four     4.0
five     5.0
dtype: float64

In [25]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,np.nan,4,5],index=['one','two','three','four','five'],dtype='int')
print(s1)

ValueError: cannot convert float NaN to integer

In [26]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,6.0,4,5],index=['one','two','three','four','five'],dtype='int64')
print(s1)

one      1
two      2
three    6
four     4
five     5
dtype: int64

In [27]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,6.3,4,5],index=['one','two','three','four','five'],dtype='int64')
print(s1)

ValueError: Trying to coerce float values to integers

In [28]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,6.0,4,5],index=['one','two','three','four','five'],dtype='int64',name='emp')
print(s1)

one      1
two      2
three    6
four     4
five     5
Name: emp, dtype: int64