<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/DA_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DA_Day4---07-08-2024---Pandas Basics--
#Manipulation Data Frames---
'''
head(5)
tail(3)
info()
describe()
--shape
--columns'''
#selecting data and indexing
'''
---loc[]---Lable based access a group of rows and columns
---iloc[]--integer or index position access a group of rows and coumns
---at[]----access a single value for row/column label pair
---iat[]---access a single value for row/column integer or index position
---'''
#Data Cleaning

'''
----.drop(lables,axis)
----.dropna(axis,how)
---- .fillna(vlaue)
----.replace)to_replace,value
----.duplicated(subject)
----.drop_duplicates(subject)
----
'''
#Data Transformation
'''
----.rename(columns,index)
----.astype(dtype)
----.apply(func,axis)
----.map(arg)
----.sort_values(by,axis,ascending)
----.sort_index(axis,ascending)

'''
#aggregation and grouping
'''
----.groupby(by)
----.agg(func)
----.count()
----.sum(axis)
----.mean(axis)
----.median(axis)
----.std(axis)
'''
#merging and joining
'''
----.(.merge,how,on)
----.concat(objs,axis)
----.join(other,on,how)
'''
#pivoting and reshaping
'''
----.pivot(index,columns,values)
-----.pivot_tables(index,columns,values,aggfunc)
----.melt(id_vars,value_vars,var_name,value_name)
----.stack(level)
----.unstack(level)
'''

In [ ]:

 #dict of Dict---outer key considered as column lable and inner key takig as index lable
 import pandas as pd
 data ={
    "Duration":{
        "1":30,
        "2":40,
        "3":50,
        "4":55,
        "5":60
    },
    "Pulse":{
        "1":110,
        "2":120,
        "3":130,
        "4":140,
        "5":150
    },
    "Maxpulse":{
        "1":130,
        "2":140,
        "3":150,
        "4":160,
        "5":170
    },
    "Calories":{
        "1":409,
        "2":479,
        "3":340,
        "4":282,
        "5":406
    }
}
df=pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
1        30    110       130       409
2        40    120       140       479
3        50    130       150       340
4        55    140       160       282
5        60    150       170       406

In [ ]:
import pandas as pd
details= {
     "Duration":{
        "0":30,
        "two":40,
        "three":50,
        "four":55,
        "five":60
    },
    "Pulse":{
        "one":110,
        "two":120,
        "three":130,
        "four":140,
        "five":150
    },
    "Maxpulse":{
        "one":130,
        "two":140,
        "three":150,
        "four":160,
        "five":170
    },
    "Calories":{
        "one":409,
        "two":479,
        "three":340,
        "four":282,
        "five":406
    }
}
df=pd.DataFrame(details)
print(df)

       Duration  Pulse  Maxpulse  Calories
0          30.0    NaN       NaN       NaN
two        40.0  120.0     140.0     479.0
three      50.0  130.0     150.0     340.0
four       55.0  140.0     160.0     282.0
five       60.0  150.0     170.0     406.0
one         NaN  110.0     130.0     409.0

In [ ]:
import pandas as pd
import numpy as np
data =[['Ram',45,'banglore'],['Shatha',13,'Hyderabad'],['Vamsi',17,'Alg']]
data_array=np.array(data)
df=pd.DataFrame(data_array)
print(df)

        0   1          2
0     Ram  45   banglore
1  Shatha  13  Hyderabad
2   Vamsi  17        Alg

In [ ]:
import pandas as pd
import numpy as np
data =[['Ram',45,'banglore'],['Shatha',13,'Hyderabad'],['Vamsi',17,'Alg']]
data_array=np.array(data)
df=pd.DataFrame(data_array,['Name','Age','City'])
print(df)

           0   1          2
Name     Ram  45   banglore
Age   Shatha  13  Hyderabad
City   Vamsi  17        Alg

In [ ]:
import pandas as pd
import numpy as np
data =[['Ram',45,'banglore'],['Shatha',13,'Hyderabad'],['Vamsi',17,'Alg']]
data_array=np.array(data)
df=pd.DataFrame(data_array,columns=['Name','Age','City'])
print(df)

     Name Age       City
0     Ram  45   banglore
1  Shatha  13  Hyderabad
2   Vamsi  17        Alg

In [1]:
import pandas as pd
import numpy as np
data =[['Ram',45,'banglore'],['Shatha',13,'Hyderabad'],['Vamsi',17,'Alg']]
data_array=np.array(data)
df=pd.DataFrame(data_array,columns=['Name','Age','City'],index=['emp1','emp2','emp3'])
print(df)

        Name Age       City
emp1     Ram  45   banglore
emp2  Shatha  13  Hyderabad
emp3   Vamsi  17        Alg

In [2]:
#Cloning DataFrame
df1=df.copy()
print(id(df))
print(id(df1))

132905497776592
132905356843344

In [ ]:
#Reading from csv file
df=pd.read_csv('confirmed _cased.csv')
df

In [ ]:
#In Jupyter notebook better keep all the files in localhost:8080/notebooks/DA with Python or tree AI with ML folder
#and use above to read the files from personal laptop
#Downloaded from localhost:8080/tree/AI with ML folder and loaded into localhost:8080/tree/Da with Python folder
#reading json files
import pandas as pd
df=pd.read_joson('sample.json')

In [ ]:
import pandas as pd
df=pd.read_xlsx('sample.json')
df

In [ ]:
import pandas as pd
df=pd.read_xlsx('sampledata.xlsx')
df
#This excel sheet is having three sheets like instructions,sales orders,mylinks
#Want to read data from particular sheet of excel --how to read
#in default it will take first wheet
df=pd.read_xlsx('sampledata.xlsx',sheet_name='mylinks')
df
df=pd.read_xlsx('sampledata.xlsx',sheet_name='SalesOreders')
df
#If We want to convert this df into excelor json,csv file and remove incex from df
#original doesnt have any index labels but df will automatically generate the labels