<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/Python_basics_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python_basics_day4---24-07-2025
#Operators
'''membership operators---in,not in --check the element in present, or not in the sequesnce of elements in the
object
identity operator ---is, is not---we need to check data type and also memory address will be same or not
identity of two objects.None '''

In [2]:
li=[1,2,3,4,5,6]
7 not in li

True

In [4]:
li=[1,2,3,4,5,6]
5 not in li

False

In [3]:
a=[1,2,3]
print(id(a))
b=[1,2,3]
print(id(b))

140601353659072
140601353652672

In [5]:
a=[1,2,3]
print(id(a))
b=[1,2,3]
print(id(b))
a==b #data type and values

140601354929344
140601355090752

True

In [6]:
a is b # checking memory address of a and b

False

In [7]:
a=10
print(id(a))
b=10
print(id(b))
a is b

10751144
10751144

True

In [10]:
numbers=[1,2,3,4,5,6]
numbers_new=[1,2,4,5,6,8]
numbers is numbers_new

False

In [ ]:
#is and is not

In [ ]:
#conditional--if elif else
readings=[20.4,20,2,40,60,45,7,67.8,8]
>40
>10 and <40
<10

In [ ]:
#unconditional statements like break continue pass
#break------if the conditoion is true means exit from the loop ---ex bank accoun id and pin matched do the process otherwise  wrong pin means exit or break
#coninue----i want to skip the iteration --ex --set of elements if you want o select odd or even continue
#-----------ex filter elements in an object like age of employee or salary
#pass ------create a class inside class lot of methods ,initial state methid or functions or class are emoty ,if you want to do any action after creating any instance of class
#-----------at that time method is going to create based on class at that we can use pass.
#-----------want to nake transaction ---

In [8]:
numbers=[100,200,300,400,500]
for number in numbers:
  if number==400:
    break
  else:
      print(number)
#try the same program with other conditions like < > ==

100
200
300

In [9]:
employee_id=[101,102,103,104,105,106]
search_id=104
for id in employee_id:
  if id == search_id:
    print(id)
    break

104

In [10]:
numbers=[100,200,300,400,500]
for number in numbers:
  if number==400:
    continue
  else:
      print(number)
#try the same program with other conditions like < > ==
# continue statment use is skip th iteration

100
200
300
500

In [12]:
money=[500,700,900,1000,2000,5000,4000,3000]
for m in money:
  if m > 500:
    continue
  else:
    print(m)

500

In [14]:
money=[500,700,900,1000,2000,5000,4000,3000]
for m in money:
  if m > 900:
    continue
  else:
    print(m)

500
700
900

In [13]:
money=[500,700,900,1000,2000,5000,4000,3000]
for m in money:
  if m == 500:
    continue
  else:
    print(m)

700
900
1000
2000
5000
4000
3000

In [17]:
money=[500,700,900,1000,2000,5000,4000,350,3000]
m_list=[]
for m in money:
  if m >= 1000:
    continue
  else:
    m_list.append(m)
print(m_list)

[500, 700, 900, 350]

In [21]:
transactions=[150,-45,100,-60,400,1000,-75,200,500]
for amount in transactions:
  if amount < 0:
    print(f"invalid transaction amount {amount} skipped")
    continue
  else:
    print(f"processing transaction amount {amount}")

processing transaction amount 150
invalid transaction amount -45 skipped
processing transaction amount 100
invalid transaction amount -60 skipped
processing transaction amount 400
processing transaction amount 1000
invalid transaction amount -75 skipped
processing transaction amount 200
processing transaction amount 500

In [24]:
#pass ---
# if you want to create any empty function or class or methods
def action():
  pass
# run this program with and without pass

SyntaxError: incomplete input (<ipython-input-24-6a0968e5cf71>, line 4)

In [30]:
class Employee:
  def __init__(self,name):
    self.name=name
  def work(self):
    pass
  def take_break(self):
    pass

# in python we cant create empty class,function or method without pass
#self refers to the current instance of employee class
# emp is instance of class employee and passing the name any name
# emp referring the self keyword def _init_(self,name) is a constructor,and self,name is instance attribute
#

In [31]:
emp=Employee('Ram')
emp_one=Employee('shyam')
emp_two=Employee('hari')

In [32]:
emp.work()

In [33]:
emp.name

'Ram'

In [35]:
emp_two.name

'hari'

In [36]:
#I/O formatting
a={}
type(a)

dict

In [37]:
a={1,2,3,4,5,}
type(a)

set