<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/Python_basics_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python_basics_day4---24-07-2025
#Operators
'''membership operators---in,not in --check the element in present, or not in the sequesnce of elements in the
object
identity operator ---is, is not---we need to check data type and also memory address will be same or not
identity of two objects.None '''

In [2]:
li=[1,2,3,4,5,6]
7 not in li

True

In [4]:
li=[1,2,3,4,5,6]
5 not in li

False

In [3]:
a=[1,2,3]
print(id(a))
b=[1,2,3]
print(id(b))

140601353659072
140601353652672

In [5]:
a=[1,2,3]
print(id(a))
b=[1,2,3]
print(id(b))
a==b #data type and values

140601354929344
140601355090752

True

In [6]:
a is b # checking memory address of a and b

False

In [7]:
a=10
print(id(a))
b=10
print(id(b))
a is b

10751144
10751144

True

In [10]:
numbers=[1,2,3,4,5,6]
numbers_new=[1,2,4,5,6,8]
numbers is numbers_new

False

In [ ]:
#is and is not

In [ ]:
#conditional--if elif else
readings=[20.4,20,2,40,60,45,7,67.8,8]
>40
>10 and <40
<10

In [ ]:
#unconditional statements like break continue pass
#break------if the conditoion is true means exit from the loop ---ex bank accoun id and pin matched do the process otherwise  wrong pin means exit or break
#coninue----i want to skip the iteration --ex --set of elements if you want o select odd or even continue
#-----------ex filter elements in an object like age of employee or salary
#pass ------create a class inside class lot of methods ,initial state methid or functions or class are emoty ,if you want to do any action after creating any instance of class
#-----------at that time method is going to create based on class at that we can use pass.
#-----------want to nake transaction ---