<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
#Sorting Data
data = [
    {"Name":"Vamsi",
     "age":"16"},
    {"Name":"Shatha",
     "age":"13"},
    {"Name":"Vinay",
     "age":"20"},
    {"Name":"Pranay",
    "age":"30"}
      ]
sorted_data=sorted(data,key=lambda x:x ['age'],reverse=True)
print(sorted_data)
#li.sort() ,sorted(key)
#method= return value, in java ,python ,c++ inside function it is called method inside class we want ot create a function, method name ,obj.sort,obj.append,dict.keys(),dict.values()
#obj.sort() here sort() dict.keys(),dict.values() depends on instance obj
#finction return value sorted(),print(),len(),max(),min(()
#here function doesnt depend on instance

[{'Name': 'Pranay', 'age': '30'}, {'Name': 'Vinay', 'age': '20'}, {'Name': 'Vamsi', 'age': '16'}, {'Name': 'Shatha', 'age': '13'}]

In [7]:
str_numbers=['1','2','3','4','5','6','7','8']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
#Transflorm data Lambda function will return the object based on argument.The words in lanbda will take each word does python.upper then again iterate for 2nd word programming and so on
words = ['python','programming','is','awesome']
capital_words=list(map(lambda x:x.upper(),words))
print(capital_words)

['PYTHON', 'PROGRAMMING', 'IS', 'AWESOME']

In [11]:
# map is used for type conversion and transform the data
#filter ()--passing the fun and iterables
#filter(fun,iterables) and removing missing values ,data validation,fillna(),dropna()
#[1,2,3,4,5,6,7,8]---filtering even or odd numbers filetring  the numbers based on conditions
#if more records are there use filer not comprehension
#Comprehemsion if used to print sequence of elements in list format or other
# dont use if or else in filter function
li=[1,2,3,4,5,6,7,8]
even_numbers=list(filter(lambda x:x%2==0,li))
print(even_numbers)

[2, 4, 6, 8]

In [16]:
#data validation
email_address=["user@exmple1.com","invalid_email","user2@exaple.com","another_invalid_email"]
invalid_emails=list(filter(lambda x:"@" not in x and "." not in x,email_address))
print(invalid_emails)
#print(valid_email)

['invalid_email', 'another_invalid_email']

In [17]:
#sorted data lis of data in dictionary format.Use only one key
#sort() will be used for ascediung or desceding order sorted() is used when based on key
data=[{
    "name":"Vamsi",
    "age":16
},{
    "name":"Shatha",
    "age":13
},{
    "name":"Vinay",
    "age":20
}]
sorted_data=sorted(data,key=lambda x:x['age'],reverse=True)
print(sorted_data)

[{'name': 'Vinay', 'age': 20}, {'name': 'Vamsi', 'age': 16}, {'name': 'Shatha', 'age': 13}]

In [ ]:
#Sorting Data
data = [
    {"Name":"Vamsi",
     "age":"16"},
    {"Name":"Shatha",
     "age":"13"},
    {"Name":"Vinay",
     "age":"20"},
    {"Name":"Pranay",
    "age":"30"}
      ]
sorted_data=sorted(data,key=lambda x:x ['age'],reverse=True)
print(sorted_data)
#li.sort() ,sorted(key)
#method= return value, in java ,python ,c++ inside function it is called method inside class we want ot create a function, method name ,obj.sort,obj.append,dict.keys(),dict.values()
#obj.sort() here sort() dict.keys(),dict.values() depends on instance obj
#finction return value sorted(),print(),len(),max(),min(()
#here function doesnt depend on instance

In [1]:
#None is None is emopty value no numerical representation
#None == None
None == None

True

In [2]:
import numpy as np #not a number
np.nan == np.nan

False

In [2]:
#removing null or empty values if the condiotion is true removes the values
#NULL not defined in python other NaN,not a number,not a date ,not a time
data = [1,None,"",3,5,0,"hello",None]
filterd_data = list(filter(lambda x:x is not None and x!="",data))
filterd_data

[1, 3, 5, 0, 'hello']

In [4]:
#Reduce function--return the single value like some of elements ,total salary of employees
#it is better for huge data when compared with sum
#from functool import reduce  dirctly we cant access like filter(),map() in python
#
from functools import reduce
li =[1,2,3,4,5,6]
result_sum=reduce(lambda x,y:x+y,li)
print(result_sum)

21

In [5]:
from functools import reduce
employee_salary={'Name':['Shatha','Vamsi'],'Month':['Apr','Apr'],'Salary':[10000,20000]}
Salary=employee_salary['Salary']
total_salary=reduce(lambda x,y:x+y,Salary)
print(total_salary)

30000

In [11]:
#map(),filter(),reduce()
#[1,2,3,4,5,6,7,8,9,10]--->even elements[2,4,6,8,10--->add 2 each elements[4.6.8.10.12] ---and sum it --40
li =[1,2,3,4,5,6,7,8,9,10]
filter_ele=list(filter(lambda x: x%2==0,li))
print(filter_ele)
map_ele=list(map(lambda x:x+2,filter_ele))
print(map_ele)
result=reduce(lambda x,y:x+y,map_ele)
result

[2, 4, 6, 8, 10]
[4, 6, 8, 10, 12]

40

In [15]:
li =[1,2,3,4,5,6,7,8,9,10]
filter_ele=list(filter(lambda x: x%2==0,li))
filter_ele
map_ele=list(map(lambda x:x+2,list(filter(lambda x: x%2==0,li))))
map_ele
result=reduce(lambda x,y:x+y,list(map(lambda x:x+2,list(filter(lambda x: x%2==0,li)))))
result

40

In [19]:
#Scope of variables ,declaring and scope of var ,life of var
#How variables will act inside and outside of fucntion
a=10 # varable declared outside of the function we can call it as global variable
def fun():
  print(a) # a-10
fun()
print(a)  #a=10

In [20]:
a=10 # varable declared outside of the function we can call it as global variable
def fun():
  a=15# local variable inside the function
  print(a) # a-15
fun()
print(a)  #a=10

15
10

In [21]:
a=10 # varable declared outside of the function we can call it as global variable
def fun():
  global a #converting local varible ot global using global keyword
  a=15# local variable inside the function after 3.11 there is no keyword local for local variables
  print(a) # a-15
fun()
print(a)  #a=15 accessing local varibale inside the function to outside of the function

15
15

In [30]:
#non local ---nested function
count =0
def outer():
    def inner():
        count = 10
        print(count)#10
    inner()
    print(count)#0
outer()
print(count)#

10
0
0

In [31]:
#non local ---nested function
count =0
def outer():
  global count
  def inner():
    count =10
    print(count)#10
  inner()
  print(count)#0
outer()
print(count)#

10
0
0

In [38]:
#non local ---nested function do not use gloabl and non local in the same function or program
#count =0
#updating the count value from inner function to outer function
def outer():
  count =9
  def inner():
    nonlocal count
    count =10
    print(count)#10
  inner()
  print(count)#0
outer()
print(count)#

10
10
0

In [39]:
#module and packages module file (filename.py),contains def,functions,classes,statements etc
#to reduce the code and re-use code--functinalities,business logics
import math
math.sqrt(2)  # it is method and is available in math module

1.4142135623730951

In [ ]:
#Save this files as personal.py file
name ="john"
def get_name(name):
  return f"Hello,{name}"

In [ ]:
import personal
personal.name
personal.get_name("Ram")

In [ ]:
from personal import get_name
from personal import *
get_name("Ram")
print(name)
print()