<a href="https://colab.research.google.com/github/ramnagella/Demo/blob/master/Python_basics_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#26-07-2-25---Python_basics_day5.
#agenda
'''anonymous functions---lambda,map(),reduce(),filter()
---scope of variables ,file handling,exception handling,modules and packages
map()---will use while type conversion and transform the data
filter()---filter(fun,iterables)---data validation and removing missing values
fillna(),dropna()
'''

In [6]:
li=[1,2,3,4,5,6,7,8]
even_ele=list(filter(lambda x:x%2==0,li))
print(even_ele)

[2, 4, 6, 8]

In [7]:
#data validation
email_address=["user1@example.com","invalid_emai","user2@example.com","another_invalid"]
invalid_email=list(filter(lambda x:not x.endswith("@example.com"),email_address))
print(invalid_email)

['invalid_emai', 'another_invalid']

In [8]:
email_address=["user1@example.com","invalid_emai","user2@example.com","another_invalid"]
invalid_email=list(filter(lambda x:"@" not in x and "." not in x,email_address))
print(invalid_email)

['invalid_emai', 'another_invalid']

In [13]:
#sorting data
data = [
 {"name":"Ram",
  "city":"Banglore",
  "age":45},
 {"name":"shatha",
  "city":"Banglore",
  "age":13},
 {"name":"Vamsi",
  "city":"Banglore",
  "age":17}
]
sorted_data=sorted(data,key=lambda x:x["age"])
print(sorted_data)

[{'name': 'shatha', 'city': 'Banglore', 'age': 13}, {'name': 'Vamsi', 'city': 'Banglore', 'age': 17}, {'name': 'Ram', 'city': 'Banglore', 'age': 45}]

In [14]:
#sorting data
data = [
 {"name":"Ram",
  "city":"Banglore",
  "age":45},
 {"name":"shatha",
  "city":"Banglore",
  "age":13},
 {"name":"Vamsi",
  "city":"Banglore",
  "age":17}
]
sorted_data=sorted(data,key=lambda x:x["age"],reverse=True)
print(sorted_data)
#sorting based on age only one key allowed e cant use multiple keys

[{'name': 'Ram', 'city': 'Banglore', 'age': 45}, {'name': 'Vamsi', 'city': 'Banglore', 'age': 17}, {'name': 'shatha', 'city': 'Banglore', 'age': 13}]

In [ ]:
#method and function difference
'''
function ---returns value ---sorted()--is not depend on obj---print(),max(),min(),len()
method -----returns value---inside class we want to create fun--method name --obj.sort(),obj.append(),
dict.keys(),dict.values()---obj.sort() function is depend on instance obj
'''
'''

In [15]:
None is None # None is no values in data science is missing value --no numerical representation,empty value

True

In [16]:
None == None

True

In [18]:
import numpy as np
np.nan==np.nan
#nan means not a number means it has some other value

False

In [19]:
#removing null or Empty Values
data=[1,None,3,"",5,0,"hello",None]
filtered_data=list(filter(lambda x:x is not None and x!="",data))
print(filtered_data)

[1, 3, 5, 0, 'hello']

In [21]:
#reduce()---return teh single value ---sum of the values or elements ,total salry of employees
#from functool import reduce it is not available in python
#reduce---(two args and iterables)
from functools import reduce
numbers=[1,2,3,4,5]
sum_numbers=reduce(lambda x,y:x+y,numbers)
print(sum_numbers)

15

In [22]:
from functools import reduce
employee_salarys=[1000,2000,3000,4000,5000]
total_salary=reduce(lambda x,y:x+y,employee_salarys)
print(total_salary)

15000

In [25]:
from functools import reduce
employee_salary={'name':['Ram','Shatha'],'Month':['Jan','Feb'],'Salary':[1000,2000]}
salary=employee_salary['Salary']
total_salary=reduce(lambda a,b:a+b,salary)
print(salary)
print(total_salary)

[1000, 2000]
3000

In [30]:
#map(),reduce(),filter()
#[1,2,3,4,5,6,7,8,9,10]--->[2,4,6,8,10]--->[4,6,8,10,12]--->40
from functools import reduce
li=[1,2,3,4,5,6,7,8,9,10]
filter_ele=list(filter(lambda x:x%2==0,li))
map_ele=list(map(lambda x:x*2,list(filter(lambda x:x%2==0,li))))
result=reduce(lambda x,y:x+y,list(map(lambda x:x*2,list(filter(lambda x:x%2==0,li)))))

print(result)
#to debud this code take from right to left
#print(map_ele)
#print(filter_ele)
#print(double_li)

60

In [32]:
#scope of variables---declaration and usage and life of variables
#How the variables will act inside and outside of the function
a=10 # outside fucntion--global variable
def fun():
  print(a)
fun()
print(a)

10
10

In [33]:
a=10 # outside fucntion--global variable
def fun():
  a=15 # local variable
  print(a)
fun()
print(a)

15
10

In [3]:
#real time use cases of map()
str_numbers=['1','2','3','4','5','6']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5, 6]

In [4]:
#transform data
words=['apple','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [5]:
words=['apple','banana','cherry']
upper_words=list(map(lambda x:x.upper(),words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [1]:
#26-07-2-25---Python_basics_day5.
a=10
def fun():
  global a#global variable
  print(a)
fun()
print(a)

10
10

In [2]:
#nonlocal---nested function
def outer():
  count=0
  def inner():
    count=10
    print(count)
  inner()
  print(count)
outer()
print(count)

10
0

NameError: name 'count' is not defined